<h1>Listing talks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Speaker</th>
    <th>Accepted</th>
    <th>Room</th>
    <th>Start Time</th>
    <th>End Time</th>    
  </tr>

  <% @talks.each do |talk| %>
    <% form_for :acceptance, :url => barcamp_acceptances_path(@barcamp) do |f| %>
    <tr class="<%= dom_id(talk) %>">
      <td><%=h talk.title %> <%= hidden_field :acceptance, :talk_id, :value => talk.id %></td>
      <td><%=h talk.abstract %></td>
      <td><%=h talk.speaker.email %></td>
      <td><%= check_box_tag "acceptance[accepted]", true, @barcamp.accepted_talks.include?(talk) %></td>
      <td><%= f.select :room_id, options_from_collection_for_select(@rooms, :id, :name, :allow_blank => true) %></td>
      <td><%= f.datetime_select :start_time %></td>
      <td><%= f.datetime_select :end_time %></td>      
    </tr>
    <%= f.submit "Accept"%>
    <% end %>
  <% end %>
</table>
