<h1>Editing period</h1>

<% form_for(@period, :url => barcamp_period_path(@barcamp, @period)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, {:minute_step => 5} %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, {:minute_step => 5} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', barcamp_period_path(@barcamp, @period) %> |
<%= link_to 'Back', barcamp_periods_path(@barcamp) %>