<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%=h period.name %></td>
    <td><%=h period.start_time %></td>
    <td><%=h period.end_time %></td>
    <td><%= link_to 'Show', barcamp_period_path(@barcamp, period) %></td>
    <td><%= link_to 'Edit', edit_barcamp_period_path(@barcamp, period) %></td>
    <td><%= link_to 'Destroy', barcamp_period_path(@barcamp, period), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a session', new_barcamp_period_path(@barcamp) %>
<%= link_to "Rooms", barcamp_rooms_path(@barcamp) %>
<%= link_to "Talks", barcamp_talks_path(@barcamp) %>
<%= link_to "Schedule Talks", barcamp_acceptances_path(@barcamp) %>