<h1>New session</h1>

<% form_for(@period, :url => barcamp_periods_path(@barcamp)) do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, {:minute_step => 5} %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, {:minute_step => 5} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', barcamp_periods_path(@barcamp) %>
