<p>
  <b>Name:</b>
  <%=h @session.name %>
</p>

<p>
  <b>Start time:</b>
  <%=h @session.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @session.end_time %>
</p>


<%= link_to 'Edit', edit_barcamp_session_path(@barcamp, @session) %> |
<%= link_to 'Back', barcamp_sessions_path(@barcamp) %>