<p>
  <b>Name:</b>
  <%=h @period.name %>
</p>

<p>
  <b>Start time:</b>
  <%=h @period.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @period.end_time %>
</p>


<%= link_to 'Edit', edit_barcamp_period_path(@barcamp, @period) %> |
<%= link_to 'Back', barcamp_periods_path(@barcamp) %>