<h1>Editing talk</h1>

<%= form_for(@talk, :url => barcamp_talk_path(@talk.barcamp, @talk)) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :speaker_name %><br />
    <%= f.text_field :speaker_name %>
  </p>
  <p>
    <%= f.label :hashtag %><br />
    <%= f.text_field :hashtag %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', barcamp_talk_path(@talk.barcamp, @talk) %> |
<%= link_to 'Back', barcamp_talks_path(@talk.barcamp) %>
