<h1>Listing talks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Speaker</th>
  </tr>

<% @talks.each do |talk| %>
  <tr>
    <td><%=h talk.title %></td>
    <td><%=h talk.abstract %></td>
    <td><%=h talk.speaker_id %></td>
    <td><%= link_to 'Show', barcamp_talk_path(talk.barcamp, talk) %></td>
    <td><%= link_to 'Edit', edit_barcamp_talk_path(talk.barcamp, talk) %></td>
    <td><%= link_to 'Destroy', barcamp_talk_path(talk.barcamp, talk), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Pitch a session', new_barcamp_talk_path(Barcamp.active.first) %>