<p>
  <b>Title:</b>
  <%=h @talk.title %>
</p>

<p>
  <b>Speaker Name:</b>
  <%=h @talk.speaker_name %>
</p>

<p>
  <b>Hashtag:</b>
  <%=h @talk.hashtag %>
</p>


<div class="promo">
  Promote this talk with this URL:
  <%= barcamp_talk_url(@talk.barcamp, @talk) %>
</div>

<div class="twitter">
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: '<%= @talk.hashtag %>',
    interval: 6000,
    title: '<%= @talk.title %>',
    subject: '<%= @talk.hashtag %>',
    width: 250,
    height: 300,
    theme: {
      shell: {
        background: '#8ec1da',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
      }
    },
    features: {
      scrollbar: false,
      loop: true,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      behavior: 'default'
    }
  }).render().start();
  </script>
</div>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_barcamp_talk_path(@talk.barcamp, @talk) %> |
<%= link_to 'Back', barcamp_talks_path(@talk.barcamp) %>
<% end %>