<p>
  <b>Title:</b>
  <%=h @talk.title %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @talk.abstract %>
</p>

<p>
  <b>Speaker:</b>
  <%=h @talk.speaker_id %>
</p>

<div class="promo">
  Promote this talk with this URL:
  <%= barcamp_talk_url(@talk.barcamp, @talk) %>
</div>

<%= link_to 'Edit', edit_barcamp_talk_path(@talk.barcamp, @talk) %> |
<%= link_to 'Back', barcamp_talks_path(@talk.barcamp) %>