<div id="now">
  <h2>Now</h2>
  <p class="period"><%= "#{@now.name}  (#{@now.start_time}-#{@now.end_time})" if @now %></p>
<% if @now_talks && @now_talks.any? %>
  <table class="talks">
    <thead>
      <tr>
        <th>Room</th>
        <th>Talk</th>
        <th>Speaker</th>
        <th>Hashtag</th>
      </tr>
    </thead>
    <tbody>
      <% @now_talks.each do |a| %>
      <tr>
        <td><%= a.room.name %></td>
        <td><%= a.talk.title %></td>
        <td><%= a.talk.speaker_name %></td>
        <td><%= a.talk.hashtag%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @now && @now.name == "Lunch" %>
<p class="lunch">Lunch!</p>
<% elsif @now_message %>
<p><%= @now_message %></p>
<% else %>
<p>No talks are currently scheduled for the current BarCamp session.</p>
<% end %>
</div>

<div id="next">
  <h2>Next</h2>
  <p class="period"><%= "#{@next_period.name}  (#{@next_period.start_time}-#{@next_period.end_time})" if @next_period %></p>    
<% if @next_talks && @next_talks.any? %>
  <table class="talks">
    <thead>
      <tr>
        <th>Room</th>
        <th>Talk</th>
        <th>Speaker</th>
        <th>Hashtag</th>
      </tr>
    </thead>
    <tbody>
      <% @next_talks.each do |a| %>
      <tr>
        <td><%= a.room.name %></td>
        <td><%= a.talk.title %></td>
        <td><%= a.talk.speaker_name %></td>
        <td><%= a.talk.hashtag%></td>
      </tr>
      <% end %>
    </tbody>
  </table><% elsif @next_period && @next_period.name == "Lunch" %>
  <p class="lunch">Lunch!</p>
<% elsif @next_period.nil? %>
  <p class="over">That's all for this Barcamp!  Thanks!</p>
<% else %>
<p>No talks are currently scheduled for the next BarCamp session.</p>
<% end %>
</div>