<h1><%= @barcamp.title %></h1>

<dl>
	<dt>Start:</dt>
	<dd><%= @barcamp.start_time %></dd>
	<dt>End:</dt>
	<dd><%= @barcamp.end_time %></dd>
	<dt>Location:</dt>
	<dd><%= @barcamp.location %></dd>
</dl>

<p><%= @barcamp.title %> has not yet begun.  Come on down and be a part of it!</p>