<h1><%= @barcamp.title %></h1>

<dl>
	<dt>Start:</dt>
	<dd><%= @barcamp.start_time %></dd>
	<dt>End:</dt>
	<dd><%= @barcamp.end_time %></dd>
	<dt>Location:</dt>
	<dd><%= @barcamp.location %></dd>
</dl>

<p>Thanks for your participation.  <%= @barcamp.title %> was awesome!</p>