<p>
  <b>Location:</b>
  <%=h @barcamp.location %>
</p>

<p>
  <b>Start time:</b>
  <%=h @barcamp.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @barcamp.end_time %>
</p>

<p>
  <b>Url:</b>
  <%=h @barcamp.url %>
</p>


<%= link_to 'Edit', edit_barcamp_path(@barcamp) %> |
<%= link_to 'Back', barcamps_path %>