<h1>Editing room</h1>

<% form_for(@room, :url => barcamp_room_path(@room.barcamp, @room)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', barcamp_room_path(@room.barcamp, @room) %> |
<%= link_to 'Back', barcamp_rooms_path(@room.barcamp) %>