<h1>New room</h1>

<% form_for(@room, :url => barcamp_rooms_path(@barcamp)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', barcamp_rooms_path(@barcamp) %>